
<h1>User New</h1>

<div class="login">
  <div class="container">
    <%= form_for :user, url: '/users' do |f| %>
      <%= f.text_field :fname, :placeholder => 'First Name' %>
      <%= f.text_field :lname, :placeholder => 'Last Name' %>
      <%= f.text_field :email, :placeholder => 'Email' %> 
      <%= f.password_field :password, :placeholder => 'Password' %> 
      <%= f.submit "Sign up", :class => "form-btn" %>
    <% end %>
  </div>
</div>


